.white-button{
    color: var(--bg-black) ;
    padding: 12px 18px;
    border-radius: clamp(20px, 5em ,40px);
    border: none;
    outline: none;

    font-weight: 600;
}

.white-button:hover{
  background-color: var(--spotify-green);
}
