.artistPage{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    gap: 20px;
}

.concertsContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    min-width: 400px;

    background: linear-gradient(0deg,rgba(25, 25, 25, 0.812)  0%,rgb(66, 66, 66) 100%);
    border-radius: 8px;
    box-shadow: 6px 7px 4px -4px rgba(0,0,0,0.75);

}
ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
    padding: 10px;
}

.popularity{
    display: flex;
    gap: 6px;
    align-items: center ;
}

@media screen and (max-width: 610px) {
    .artistPage {
        padding: 10px;
        flex-wrap: wrap;
    }
}
