.ArtistCard{
    width: 200px;
    height: 250px;
    padding: 7px;

    background: linear-gradient(0deg,rgba(45, 45, 45, 0.812)  0%,rgb(90, 89, 89) 100%);

    border-radius: 8px;
    /* border: 1px solid #ffffff44; */
    box-shadow: 6px 7px 4px -4px rgba(0,0,0,0.75);
}
.ArtistCard > img{
    width: 100%;
}

.info{
    margin-bottom: 5px;
    margin-top: 5px;
    /* background-color: blue; */
}